@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 249 250 251;
    --foreground: 17 24 39;
  }

  .dark {
    --background: 3 7 18;
    --foreground: 243 244 246;
  }

  * {
    border-color: theme("colors.gray.200");
  }

  .dark * {
    border-color: theme("colors.gray.800");
  }

  body {
    transition: background-color 0.2s ease, color 0.2s ease;
  }
}
